body{
    background: rgba(0, 0, 0, 0.067);
}
.App {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .App table {
    table-layout: fixed;
    width: 100%;
  }
  
  .App table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .App table td:nth-child(8),
  .App table td:nth-child(9) {
  background-color: #1677ff74;
  
}
.load{
     display: flex;
     justify-content:  center;
     margin-top: 50px;
}
